In [2]:
import pandas as pd

In [ ]:
pd.read_

In [4]:
data = pd.read_excel("tg/tg.xlsx")

In [7]:
data.head()

      VR                                      image
0    108   11533d10-009b-47a6-a0e2-8c7e77f6190b.jpg
1     75   210f69c6-40e9-4062-93dd-045f0dc60332.jpg
2     60  a7129269-fa00-41f8-8714-81cbaa3ac4fd.jpeg
3     98   2368af6e-e7ce-40dc-9324-514e6d9d61d2.PNG
4  86.61   58a940be-55b1-41f2-b02c-08df9ec38ccc.png

In [10]:
data[data['image'] == '07db5b4b-386f-4075-b56d-350de8eddd77.png']

    VR                                     image
38  95  07db5b4b-386f-4075-b56d-350de8eddd77.png